<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1GH93TZKR0"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Page</title>
    <script src="https://unpkg.com/vue@3.5.13/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4.2.5/dist/vue-router.global.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script>
        window.__LOGIN_STATE__ = {{ login_state | tojson }};
    </script>
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>

    <script type="module" src="/static/main.js"></script>

  </body>
</html>
