<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav class="nav-bar">
            <a href="index.html" class="nav-link">Home</a>
        </nav>
        <div class="content">
            <div class="group-text">CSC-648 Group 5</div>
            <div class="group-buttons">
                <!-- Replace href with respective about page -->
                <a href="about-alexis.html" class="button">Alexis Perez</a>
                <a href="about-david.html" class="button">David Cabanela</a>
                <a href="about-jun.html" class="button">David Chang</a>
                <a href="about-template.html" class="button">Athan Cheung</a>
                <a href="about-yuming.html" class="button">Yu-Ming Chen</a>
            </div>
        </div>
    </div>
</body>